 body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background:linear-gradient(135deg, hsl(240, 100%, 50%), hsla(0, 100%, 50%, 0.471));
    
}

.boxContainer{
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin:100px auto  200px;
    padding: 40px 30px 70px;
}

.boxContainer h2{
    color: hsl(0, 0%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 35px;
}

.boxContainer h2 img{
    width: 30px;
    margin-left: 10px;
}

.inputContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsla(210, 12%, 74%, 0.381) ;
    border-radius: 30px;
    
}

.inputContainer input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}

.inputContainer button{
    border: none;
    outline: none;
    background-color: hsl(9, 100%, 50%);
    padding: 15px 40px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 40px;
    cursor: pointer;
}

.inputContainer button:hover{
    background-color:  hsl(9, 100%, 60%);
}

ul  li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    
}

ul li.listContainer{
    background-image: url("unchecked.png");
}

ul li::before{
    content: ' ';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-image: url("unchecked.png");
    background-size: cover;
    background-position: center;
    left: 350px;
    
}

ul li.checked{
    color:hsl(0, 0%, 30%);
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url("checked.png");
}

ul li span{

    position: absolute;
    margin-left: 350px;
    text-align: center;
    font-size: 30px;
    color: hsl(0, 0%, 40%);
    border-radius: 20px;
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;

    /* position:absolute;
    margin-left: 350px;
    text-align: center;
    font-size: 30px;
    color: hsl(0, 0%, 40%) ;
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: hsl(0, 0%, 0%);
    line-height: 40px;
    text-align:center; */
}

ul li span:hover{
    background: #eee;
} 